@mixin flex($ai: center, $jc: center) {
    display: flex;
    align-items: $ai;
    justify-content: $jc;
}

@mixin button-red () {
    font-size: 20px;
    font-family: MontserratRegular;
    text-transform: uppercase;
    width: 250px;
    padding: 20px;
    background: $firstColor;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all .3s linear;
    margin: 20px auto;
}

@mixin button-blue () {
    font-size: 20px;
    font-family: MontserratRegular;
    text-transform: uppercase;
    width: 250px;
    padding: 20px;
    background: $secondColor;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all .3s linear;
    margin: 20px auto;
}
