.pricing {
    padding-top: 70px;
    text-align: center;
    background-color: #efefef;

    &__title {
        font-size: 50px;
	    font-family: 'MontserratBold';
        color: $secondColor;
        text-transform: uppercase;
    }

    &__box {
        @include flex (center, space-between);
        padding: 60px 0;
    }

    &__box-item {
        position: relative;
        margin-bottom: 20px;
        width: 30%;
        height: auto;
        background-color: #fff;
        border: none;
        border-radius: 5px;
    }

    &__popular {
        position: absolute;
        width: 40%;
        height: auto;
        top: 0;
        left: 0;
    }



    &__plan-name {
        padding-top: 40px;
        font-size: 22px;
        font-family: PTSerifRegular;
    }
    
    &__plan-money {
        font-size: 60px;
	    font-family: 'MontserratBold';
        color: $firstColor;
        font-weight: 900;
        text-transform: uppercase;
        padding-top: 40px;
    }

    &__plan-list {
        padding-top: 30px;
        font-size: 20px;
        font-family: PTSerifRegular;
        line-height: 1.5;
    }

    &__btn-blue{
        width: 150px;
        @include button-blue;
    }

    &__btn-red{
        width: 150px;
        @include button-red;
    }


    #box1{
        grid-area: box1;
    }
    #box2{
        grid-area: box2;
    }
    #box3{
        grid-area: box3;
    }

    @media (max-width: 910px) {
        &__btn-blue{
            width: 180px;
        }
    
        &__btn-red{
            width: 180px;
        }       
    }
    @media (max-width: 790px) {
        &__box {
            display: grid;
            justify-content: space-around;
            grid-template-areas: 
            "box1 box2"
            "box3 .";
        }

        &__box-item {
            width: 250px;
        }

    }    
        @media (max-width: 550px) {
            &__box {
                display: grid;
                justify-content: space-around;
                grid-template-areas: 
                "box1" 
                "box2"
                "box3";
            }
        }

        @media (max-width: 375px) {
            &__title {
                font-size: 40px;
            }
            &__plan-money {
                font-size: 50px;
            }
        }
}