.people {
    padding: 150px 0;

    &__block {
        @include flex(stretch, space-between);
    }

    &__block-testimonial {
        width: 50%;
        height: auto;
    }
    
    &__testimonial-block1 {
        position: relative;
        width: 435px;
        height: 140px;
        border: none;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        margin: 20px 0;
        padding: 20px 80px 20px 10px;
    }

    &__testimonial-block2 {
        position: relative;
        width: 435px;
        height: 140px;
        border: none;
        border-radius: 5px;
        background-color: #efefef;
        padding: 20px 80px 20px 10px;
    }

    &__testimonial-title {
        font-size: 50px;
	    font-family: 'MontserratBold';
        color: $secondColor;
        text-transform: uppercase;
        text-align: center;
    }

    &__testimonial-1 {
        font-size: 20px;
        font-family: PTSerifRegular;
    }

    &__testimonial-2 {
        font-size: 18px;
        font-weight: 600;
        font-family: MontserratRegular;
        padding-top: 20px;
    }

    &__testimonial-img {
        position: absolute;
        top: 20px;
        right: -50px;
        width: 100px;
        height: 100px;
        border: none;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 0 20px rgba(0,0,0, 0.8);
    }

    &__block-gallery {
        width: 50%;
    }

    &__gallery-title {
        font-size: 50px;
	    font-family: 'MontserratBold';
        color: $firstColor;
        text-transform: uppercase;
        text-align: center;
    }

    &__gallery-block {
        @include flex (center, space-between);
        padding: 20px 50px 25px 50px;
    }
     
    &__gallery-img {
        width: 100px;
        height: 100px;
        border: none;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 0 20px rgba(0,0,0, 0.8);
        margin: 10px;
    }
    &__gallery-btn {
        font-size: 20px;
        font-weight: 700;
        font-family: MontserratRegular;
        color: $secondColor;
        text-transform: uppercase;
        text-decoration: underline;
        text-align: center; 
    }

    &__gallery-btn:hover {
        color: $firstColor;
    }

    @media (max-width: 992px) {
            padding: 50px 0;

        &__block {
            display: block;
        }

        &__block-testimonial {
            margin: 0 auto;
        }
        
        &__block-gallery {
            padding: 20px 0;
            margin: 0 auto;
        }


    }


    @media (max-width: 768px) {
        .people {
            padding: 0;
        }

        &__block-testimonial {
            margin: 0 auto;
        } 
        
        &__block-gallery {
            padding: 20px 0;
            margin: 0 auto;
        }


        &__testimonial-block1 {
            width: 300px;
            height: 170px;
        }

        &__testimonial-block2 {
            width: 300px;
            height: 170px;
        }
        &__gallery-block {
            padding: 0;
        }
    }

    @media (max-width: 576px) {
        &__block-testimonial {
            margin: 0;
        } 
        
        &__block-gallery {
            margin: 0;
        }
    }

    @media (max-width: 414px) {
        &__testimonial-1 {
            font-size: 18px;
        }
        &__testimonial-2 {
            font-size: 16px;
        }

        &__testimonial-img {
            top: -20px;
            right: 10px;
            width: 80px;
            height: 80px;
        }
    }

    @media (max-width: 375px) {
        &__testimonial-title {
            font-size: 40px;
        }

        &__gallery-title {
            font-size: 40px;
        }

        &__gallery-img {
            width: 80px;
            height: 80px;
        }
    }
}