.footer {
    background-color: $headerBg;
    width: 100%;

		&__content {
            padding: 25px 0;
            font-size: 20px;
            font-family: lobster;
            color: $headerText;
            text-align: center;
		}
}