* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
a{
    display: block;
    text-decoration: none;
}
li{
    list-style-type: none;
}
img{
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: top;
}

.wrapper{
    max-width: 1024px;
    margin: 0 auto;
}
/*Header*/
.header{
    padding-top: 30px;
}

.header-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    display: flex;
    margin-left: 20px;
}
.logo-text a{
    font-size: 52px;
    color: #595959;
    display: flex;
    align-items: center;
}
.logo span{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    background: #6dd025;
    border-radius: 50%;
	top: 5px;
    right: 2px;
    margin-right: 5px;
}

.menu{
    display: flex;
}
.menu-item{
    margin-left: 30px;
}
.menu-item a{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 23px;
    color: #4d4e4d;
}
.menu-item a:hover{
    background: #373737;
    color: #fff;
}
.burger{
    display: none;
}

.hero{
    padding-top: 60px;
}
.hero-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}
.hero-main-left{
    width: 50%;
}
.imgbord{
    width: 205px;
    height: 40px;
    background: #373737;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;
}
.imgbord i{
    padding-right: 10px;
}
.ipad-img{
    width: 100%;
    position: relative;
    right: -60px;
}
.hero-main-left h3{
    font-size: 61px;
    color: #737373;
    white-space: nowrap;
}
.hero-main-left a{
    font-size: 47px;
    color: #737373;
	 white-space: nowrap;
}
.hero-main-right{
    width: 100%;
}
/*Content*/
.main-center{
    margin-top: 50px;
    margin-bottom: 50px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 677px;
}
.content-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.apple-grp{
    display: flex;
    justify-content: space-between;
}
.apple-grp-r{
    position: relative;
    width: 60%;
    padding-left: 25px;
}
.apple-grp-r h3{
   font-size: 30px;
   color: #696161;
}
.apple-grp-text{
    font-size: 14px;
    color: #696161;
    margin-bottom: 50px;
}
.apple-grp-r img{
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 50px;
    height: auto;
}
.post{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.post-block{
    max-width: 215px;
}
.post-block h3{
    font-size: 26px;
    color: grey;
    margin-bottom: 15px;
}
.post-block p{
    font-size: 14px;
    color: grey;
    margin-bottom: 20px;
}
.post-block h3{
    font-size: 26px;
    color: #696161;
    margin-top: 40px;
}
.sidebar{
    width: 325px;
}
.block-ad1{
    position: relative;
    width: 325px;
    height: auto;
    border: 1px solid grey;
    text-align: center;
}
.block-ad1 h3{
    font-size: 16px;
    color: #9ba08d;
    margin-top: 20px;
}
.col-green{
    font-size: 40px;
    color: #b8dc58;
    margin-bottom: 10px;
}
.imgmaxi{
    width: 100px;
    margin-right: 60px;
    margin-bottom: 20px;
}
.imgmini{
    width: 70px;
    position: absolute;
    top: 145px;
    right: 110px;
}
.img-pos-css{
    position: absolute;
    top: 195px;
    right: 20px;
}
.block-ad2{
    position: relative;
    width: 325px;
    border: 1px solid #86e7f0;
    background: #86e7f0;
    margin-top: 50px;
    color: #fff;
    text-align: center;
}
.rose{
    width: 150px;
    margin: -25px 87px;
}
.week{
    position: absolute;
    top: 7px;
    left: 125px;
    font-size: 30px;
}
.block-ad2-title{
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
}
.block-ad2-text{
    font-size: 24px;
}
.block-ad2-button{
    width: 180px;
    height: 35px;
    border-radius: 5px;
    padding: 10px 30px;
    background: #58d1dc;
    color: #fff;
    font-size: 16px;
    margin: 10px 70px;
}
.block-ad3{
    position: relative;
    width: 325px;
    border: 1px solid #393a39;
    background: #393a39;
    text-align: center;
    color: #FFF;
    margin-top: 25px;
}
.block-ad3-title{
    font-size: 27px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
}
.block-ad3-text{
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
}
input{
    width: 90%;
    height: 30px;
    margin-top: 10px;
}
.block-ad3-button{
    width: 180px;
    height: 35px;
    border: 1px solid #bb4465;
    border-radius: 5px;
    padding: 10px 30px;
    background: #bb4465;
    color: #fff;
    font-size: 16px;
    margin: 25px 70px;
}
.block-ad3-button:hover{
    cursor: pointer;
}
.line{
    width: 100%;
    height: 7px;
    background: #bb4465;
    margin-bottom: -1px;
}

/*Footer*/
.footer{
    width: 100%;
    height: 85px;
    background: #393a39;
}
.footer-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
}
.footer-main-text{
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer-main-text p{
    font-size: 16px;
    color: #fff;
}
.footer-main-icons{
    display: flex;
}
.footer-main-icons a{
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
}
i:hover{
    color: rgb(245, 80, 80);
}

@media (max-width: 1260px){
    .ipad-img {
        right: inherit;
    }
}

@media (max-width: 1000px){
    .menu-item {
        margin-left: 10px;
    }
    .hero-main-left h3{
        font-size: 50px;
    }
}

@media (max-width: 768px){
        .logo{
            margin-left: 0;
        }
        .logo-text a{
            font-size: 40px;
        }

        .logo span{
            width: 22px;
            height: 22px;
            right: initial;
        }
        .wrapper{
            padding: 0 15px;
        }
       .header{
            padding: 15px 0;
       }
       .menu-item{
        margin-left: 30px;
        }
        .menu-item a{
            padding: 7px;
            font-size: 18px;
        }
        .hero{
            padding-top: 30px;
        }
        .hero-main{
            margin: 0;
        }
        .content{
            display: block;
        }
        .container{
            width: 100%;
        }
        .apple-grp-r img{
            top: 0;
            right: 0;
        }
        .apple-grp-text{
            margin-bottom: 0;
            padding-top: 25px;
            font-size: 16px;
            text-align: justify;
        }
        .post-block {
            max-width: 230px;
        }
        .post-block p {
            font-size: 16px;
            text-align: justify;
        }
        .sidebar{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .block-ad1{
            margin-top: 30px;
            height: 305px;
        }
        .block-ad2{
            margin-top: 30px;
        }
        .block-ad3{
            width: 95%;
        }
        .block-ad3-text{
            padding-left: 40px;
        }
        .footer-main-text{
            justify-content: left;
        }
}

@media (max-width: 576px){
        .logo-text a{
            font-size: 30px;
        }
        .logo span {
            width: 18px;
            height: 18px;
            margin-bottom: 5px;
        }
        .menu{
            display: none;
        }
        .burger{
            display: block;
        }

        .hero {
            padding-top: 10px;
        }
        .hero-main-left h3 {
            font-size: 30px;
        }
        .hero-main-left a {
            font-size: 20px;
        }
        .imgbord {
            width: 160px;
            height: 30px;
            padding-top: 5px;
        }
        .apple-grp-l{
            width: 50%;
        }
        .apple-grp-r {
            padding-left: 15px;
        }
        .apple-grp-r h3 {
            font-size: 20px;
        }
        .block-ad1{
            width: 260px;
            height: 280px;
        }
        .block-ad2{
            width: 260px;
            height: 280px;
        }
        .rose {
            width: 120px;
            margin: -25px 55px;
        }
        .week {
            top: 5px;
            left: 100px;
            font-size: 24px;
        }
        .block-ad2-title{
            font-size: 26px;
        }
        .block-ad2-text{
            font-size: 18px;
        }
        .block-ad2-button{
            margin: 35px 40px;
        }
        .block-ad3{
            width: 100%;
        }
}
@media (max-width: 320px){
        .logo-text a{
            margin-left: 0;
        }
        .hero-main{
            width: 100%;
            display: block;
        }
        .hero-main-left h3 {
            font-size: 24px;
        }
        .hero-main-left a {
            font-size: 16px;
        }
        .hero-main-left {
            display: grid;
            grid-template-areas: 
                "a c"
                "b b";
        }
        #a {
            grid-area: a;
            padding-right: 35px;
        }
        #b {
            grid-area: b;
        }
        #c { 
            grid-area: c;
            margin: 0;      
        }
        .imgbord {
            width: 130px;
            height: 25px;
            font-size: 16px;
        }
        .main-center {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .apple-grp {
            display: block;
        }
        .apple-grp-l {
            width: 100%;
        }
        .apple-grp-r {
            padding: 0;
            width: 100%;
        }
        .apple-grp-text {
            padding-top: 20px;
        }
        .post-block {
            max-width: 320px;
        }
        .post-block h3 {
            font-size: 20px;
        }
        .block-ad1 {
            width: 100%;
        }
        .block-ad2 {
            width: 100%;
        }
        .week {
            left: 115px;
        }
        .block-ad2-button {
            margin: 35px 55px;
        }
        .block-ad3-text {
            padding-left: 15px;
        }
        .block-ad3-button {
            margin: 25px 55px;
        }
        .footer-main {
            display: block;
            text-align: center;
            padding-top: 20px;
        }
        .footer-main-icons {
            display: flex;
            justify-content: center;
        }
        .footer-main-text {
            justify-content: center;
        }
}