
.mb-5 {
    margin-bottom: 5px;
}
.col-w {
    color: #fff;
}
.pl-5 {
    padding-left: 5px;
}

.map {
    display: grid;
    grid-template-areas: 
        "a b c"
        "a d e";
}

#a {
    grid-area: a;
}
#b {
    grid-area: b;
}
#c {
    grid-area: c;
}
#d {
    grid-area: d;
}
#e {
    grid-area: e;
}

@media (max-width: 1000px) {
    .map {
        grid-template-areas:
            "a b"
            "c d"
            "e g";
    }
}
@media (max-width: 660px) {
    .map {
        grid-template-areas: 
            "a"
            "b"
            "c"
            "d"
            "e";
    }
}